PORT=4000
NODE_ENV=production
FRONTEND_URL=https://your-main-frontend.vercel.app
ADMIN_FRONTEND_URL=https://your-admin-frontend.vercel.app
CORS_ORIGINS=
MONGODB_URL=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
STRIPE_SECRET_KEY=
